<!DOCTYPE html>
<html>
<head>
    <title>Calculo del area y per</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <!-- Tarjeta para el formulario -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Calculadora de Perímetro y Área</h2>
                <form action="/getResultado" method="get">
                    <div class="form-group">
                        <label for="radio">Ingrese un valor de radio:</label>
                        <input type="text" class="form-control" id="radio" name="radio" placeholder="Escriba aquí...">
                    </div>
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
