<!DOCTYPE html>
<html>
<head>
    <title>Convertidor de Peso</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Convertidor de Peso</h2>
        <form method="get">
            <div class="form-group mt-4">
                <label for="valor">Ingrese el valor:</label>
                <input type="text" class="form-control" id="valor" name="valor">
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-primary btn-lg btn-block" formaction="/getGaKg">Convertir gramos a kilogramos</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg btn-block" formaction="/getKgaG">Convertir kilogramos a gramos</button>
                </div>
            </div>
        </form>
        <div class="container mt-5">
            <h3>El resultado de la conversión de $accion del $valor es:</h3>
            <div style="background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
                <p>Resultado: $resultado</p>
            </div>
        </div>
        <a href="/getInfo" class="btn btn-info mt-3">Volver al menú principal</a>
    </div>
</body>
</html>
