<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Operación</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                #if($accion == "Todas las personas")
                    <h2 class="card-title mb-4">La lista de $accion es:</h2>
                #else
                    <h2 class="card-title mb-4">La lista de $accion de la persona $nombre es:</h2>
                #end
                #if($resultado)
                    <ul class="list-group">
                        #foreach($persona in $resultado)
                            <li class="list-group-item">$persona</li>
                        #end
                    </ul>
                #else
                    <p class="card-text">No se encontraron resultados.</p>
                #end
                <a href="/getInfo" class="btn btn-primary mt-3">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>
