<!DOCTYPE html>
<html>
    <head>
        <title>Calculo del IMC</title>
    </head>
    <body>
        <h2>Calculadora de IMC (Indice de masa corporal)</h2>
        <form action="/getIMC" method="get">
            <label for="peso">Ingrese su peso (kg):</label>
            <input type="text" name="peso" id="peso"><br>
            <label for="altura">Ingrese su altura (mts):</label>
            <input type="text" name="altura" id="altura"><br><br>
            <button type="submit">Saber mi IMC!</button>
        </form>
    </body>
</html>